@import 'tailwindcss';
@plugin 'daisyui';

@plugin 'daisyui/theme' {
  name: 'sanbenito';
  default: true;

  --color-primary: #b6c544;
  --color-primary-content: #160016;
  --color-secondary: #7bcbe2;
  --color-secondary-content: #160016;
  --color-accent: #fbd300;
  --color-accent-content: #001616;
  --color-neutral: #b6c544;
  --color-neutral-content: #160016;
  --color-color-base-100: #ffffff;
  --color-base-200: #e6e6e6;
  --color-base-300: #bebebe;
  --color-base-content: #161616;
  --color-info: #076633;
  --color-info-content: #e6e6e6;
  --color-uccess: #00ff00;
  --color-success-content: #001600;
  --color-warning: #f59e0b;
  --color-warning-content: #001600;
  --color-error: #ff0000;
  --color-error-content: #160000;
}
